.advancedfilter {
    padding: 1rem 1rem;
    border: 1px solid #e7e7e7;
    border-radius: .25rem;
}

.advancedfilter .form-group {
    margin-bottom: 0 !important;
}

#memberTables .media-object {
    width: 30px;
    border-radius: 50%;
}

.navbar-nav .media-object {
    width: 23px;
    border-radius: 50%;
    display: inline-block;
}
